[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyinstaller = "*"

[packages]
massive-py = "*"
pynput = "*"
pyperclip = "*"
pyqt5 = "==5.12.2"

[requires]
python_version = "3.7"
